<!-- <app-image-slider
    [sliders] = "sliders"
    #imageSlider
></app-image-slider>

<app-horizontal-grid>
    <span appGridItem *ngFor="let item of channels">
        <img
        [src]="item.icon"
        alt=""
        [appGridItemImage]="'3.5rem'"
        >
        <span [appGridItemTitle]="'1rem'">{{item.title}}</span>
    </span>
</app-horizontal-grid> -->

<div *ngIf= "selectedTabLink ==='hot' else other">
<app-image-slider [sliders] = "sliders" #imageSlider></app-image-slider>
<app-horizontal-grid>
    <span appGridItem *ngFor="let item of channels">
        <img
        [src]="item.icon"
        alt=""
        [appGridItemImage]="'3.5rem'"
        >
        <span [appGridItemTitle]="'0.5rem'">{{item.title}}</span>
    </span>
</app-horizontal-grid>
</div>
<ng-template #other>
    This page hasn't been written yet
</ng-template>
<a  [routerLink]="['grand']"
    routerLinkActive="active"
    [queryParams]= "{ name: '张三'}"
  >Link to grand</a>
<router-outlet></router-outlet>


<a  [routerLink]="[{ outlets: {second: ['aux']} }]"
  >Link to second</a>
<router-outlet name="second"></router-outlet>


